# Executables
*.exe
*.out
*.app

*.sln
*.userprefs
*.pidb
*.unityproj
*.pidb
*.unityproj
.DS_Store
/Library/FailedAssetImports.txt
/Library/cache/
/Library/previews/
/Library/ScriptAssemblies
/obj
/Temp